
  .infoText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 1em;
  }
  
  
  .icon {
    margin-right: 1em;
    color: #555; 
    width: 2em;
    height: 2em;
  }
  